
{
	padding-left: 200px ;
	padding-right: 200px ;
}

body{
 		background-image: url(/imgs/bg.jpg) ;
 		background-attachment: fixed;
 		background-position: center center ;
        padding-left: 150px ;
        padding-right: 150px ;
        padding-top: 10px ;
        font-family: arial, helvetica, lato sans-serif;
        font-size: 12px;
 	}

h1{
	font-family: Lato ;
	color: black ;
	background-color: white ;
	text-align: left ;
}

nav{
	width: 100%;
	margin: 0 ;
}

.batomdecachorro {
	width: 100%
}

.batomdecachorro li {
	display: inline;
	float: left;

}

.batomdecachorro a{
	display: block;
	padding: 8px ;
	background-color: #333 ;
	height: 40px
}

.batomdecachorro ul {
	list-style-type: none ;
	margin: 0 ;
	padding: 0 ;
	overflow: hidden ;
}

.batomdecachorro li a {
	display: block;
	font-family: Lato ;
	font-size: 25pt ;
	color: white ;
	text-align: center;
	padding: 10px 10px ;
	text-decoration: none ;
}

.batomdecachorro li a:hover {
  background-color: #3c0975;
}
