
{
	padding-left: 200px ;
	padding-right: 200px ;
}

body{
 		background-image: url(/imgs/bg.jpg) ;
 		background-attachment: fixed;
 		background-position: center center ;
        padding-left: 150px ;
        padding-right: 150px ;
        padding-top: 10px ;
 	}
