
{
	padding-left: 200px ;
	padding-right: 200px ;
}

body{
 		background-image: url(/imgs/bg.jpg) ;
 		background-attachment: fixed;
 		background-position: center center ;
        padding-left: 150px ;
        padding-right: 150px ;
        padding-top: 10px ;
 	}

 ul {
 	list-style-type: none ;
 	overflow: hidden ;
 	background-color: #333 ;
 	position: fixed;
 	top: 0 ;
 	width: 100% ;
 }

 li {
 	float: left;
 	border-right: 1px solid #bbb ;
 }

 li a{
 	width: 60px ;
 }

.active {
	background-color: #721bb3
}
